*

!.editorconfig
!.gitignore
!.gitmodules
!flake.lock
!flake.nix
!fleet.nix
!keys.nix
!nufmt.nuon
!README.md
!rebuild.nu

!hosts/
!hosts/**
!komodo/
!komodo/**
!lib/
!lib/**
!modules/
!modules/**
!packages/
!packages/**
!pkgs/
!pkgs/**
!secrets/
!secrets/**
!.tack/
!.tack/**
!.tombkey/
!.tombkey/**

# Submodule
!nvim/
