{{template "base/head" .}}
<div role="main" aria-label="{{if .IsSigned}}{{ctx.Locale.Tr "dashboard"}}{{else}}{{ctx.Locale.Tr "home"}}{{end}}" class="page-content home">
      <div class="tw-mb-8 tw-px-8">
              <div class="center">
                      <img class="logo" width="220" height="220" src="{{AssetUrlPrefix}}/img/logo.svg" alt="{{ctx.Locale.Tr "logo"}}">
                      <div class="hero">
                              <h1 class="ui icon header title">
                                      {{AppDisplayName}}
                              </h1>
                              <h2>A slaveless, non-gatekeeping Git service</h2>
                      </div>
              </div>
      </div>
      <div class="ui stackable middle very relaxed page grid">
              <div class="eight wide center column">
                      <h1 class="hero ui icon header">
                              {{svg "octicon-flame"}} {{ctx.Locale.Tr "startpage.install"}}
                      </h1>
                      <p class="large">
                              Download the binary, run it, or yeet it into Docker. No cursed configs, no "Enterprise Setup Wizard" asking for your blood type.
                      </p>
              </div>
              <div class="eight wide center column">
                      <h1 class="hero ui icon header">
                              {{svg "octicon-device-desktop"}} {{ctx.Locale.Tr "startpage.platform"}}
                      </h1>
                      <p class="large">
                              Runs on Linux, FreeBSD, your toaster, your fridge, and that Raspberry Pi you swore you'd use someday. Supports x86, ARM, RISC-V, and probably quantum computers if you bribe it with coffee.
                      </p>
              </div>
      </div>
      <div class="ui stackable middle very relaxed page grid">
              <div class="eight wide center column">
                      <h1 class="hero ui icon header">
                              {{svg "octicon-rocket"}} {{ctx.Locale.Tr "startpage.lightweight"}}
                      </h1>
                      <p class="large">
                              Eats less RAM than Chrome with one tab open. Can survive on a potato-powered cluster. Will not mine crypto behind your back… probably.
                      </p>
              </div>
              <div class="eight wide center column">
                      <h1 class="hero ui icon header">
                              {{svg "octicon-code"}} {{ctx.Locale.Tr "startpage.license"}}
                      </h1>
                      <p class="large">
                              Source is open — fork it, break it, marry it, or run it in production (we dare you). No NDAs, no "Premium Plans," just pure chaos and commits.
                      </p>
              </div>
      </div>
</div>
{{template "base/footer" .}}
